
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/porsche.jpg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("images/porsche-logo.png"), auto;
  scroll-behavior: smooth;
}

.header {
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 24px 40px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.porsche-wordmark {
  width: 250px;
  height: auto;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 70vw;
  height: 100vh;

  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 45%,
    rgba(255, 255, 255, 0.85) 60%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 0) 100%
  );

  transform: translateX(-100%);
  transition: transform 0.4s ease;

  z-index: 90;
  font-weight: 600; 
}

.menu-button {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  color: #000000; 
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 120px 40px;

  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
}

.menu-content a {
  font-size: 24px;
  color: #111;
  text-decoration: none;
}

#menu-toggle:checked ~ .side-menu {
  transform: translateX(0);
}

.menu-text {
  font-size: 18px;
  font-weight: 700;
}

.cars {
  min-height: 120vh;
  padding-top: 220px;
  background-image: url("images/porsche.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.model-list {
  position: absolute;
  top: 200px;
  left: 40px;

  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.model-list ul {
  list-style: none;
}

.model-list li {
  margin-bottom: 8px;
}

.model-item {
  margin-bottom: 20px;

}

.model-name {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.model-item a {
  display: inline-block;
  width: 200px;
  height: 110px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.model-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  filter: grayscale(100%);
  transition: 
    filter 0.4s ease,
    transform 0.4s ease;
}

.fade-to-white {
  height: 150vh;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.next-section {
  min-height: 120vh;
  margin-top: -5px;
  padding-top: 130px;
  background:
    linear-gradient(
      to bottom,
      rgba(255,255,255,1) 0%,
      rgba(255,255,255,0.85) 25%,
      rgba(255,255,255,0.4) 55%,
      rgba(255,255,255,0) 100%
    ),
    url("images/porsche-center.webp");

  background-size: cover;
  background-position: center;
}

.about-title {
  color: #d5001c;
  font-size: 60px;
  letter-spacing: 6px;
  font-weight: 800;
  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 -webkit-text-stroke: 2px black;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 50px 0;
}


.contact-text {
  color: #d5001c; 
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;

  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  -webkit-text-stroke: 2px black;
}


.instagram-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;

  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.instagram-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.about-text {
  max-width: 1000px;
  margin: 10px auto 0;
  font-weight: 100;

  text-align: center;
  color:  #d5001c; 
  font-size: 20px;
  line-height: 3;

  font-family: "Helvetica Neue", Arial, sans-serif;
  opacity: 0.85;
  height:80vh; 
}

.model-item a:hover img {
  filter: grayscale(0%);
  transform: scale(1.08);

}

.menu-link {
  font-size: 24px;
  cursor: pointer;
}

.close-menu a {
  text-decoration: none;
  color: #111;
  display: block;
}
.close-menu a:hover {
  text-decoration: underline;
}