
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-image: url("images/porsche.jpg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  top: 0;
  width: 100%;
  padding: 24px 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
}


.logo {
  color: #d5001c; 
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
}

.hero {
  min-height: 120vh;
  background: none;
  padding-top: 220px;
  background-image: url("images/porsche.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;=
}

.model-list {
  position: absolute;
  top: 200px
  left: 40px;

  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.model-list ul {
  list-style: none;
}

.model-list li {
  margin-bottom: 8px;
}

.model-item {
  margin-bottom: 20px;
}

.model-name {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.model-item a {
  display: inline-block;
  width: 200px;
  height: 110px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.model-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  min-height: 200vh;
  padding: 80px;
  background-color: transparent; 
}

.fade-to-white {
  height: 150vh;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.next-section {
  min-height: 100vh;
  background-color: white;
  background-image: url("images/porsche-center.webp");
  background-size: cover;
  background-position: center;
}

.about-title {
  color: #d5001c;
  font-size: 60px;
  letter-spacing: 6px;
  font-weight: 800;
  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 -webkit-text-stroke: 2px black;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 40px 0;
}


.contact-text {
  color: #d5001c; 
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;

  font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  -webkit-text-stroke: 2px black;
}


.instagram-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;

  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.instagram-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.about-text {
  max-width: 1000px;
  margin: 10px auto 0;
  font-weight: 100;

  text-align: center;
  color:  #d5001c; 
  font-size: 20px;
  line-height: 3;

  font-family: "Helvetica Neue", Arial, sans-serif;
  opacity: 0.85;
  height:80vh; 
}

